.sidebar {
    flex: 0 0 400px;
}

.loading-layer {
    background: #000;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    opacity: 0.5;

    > * {
        opacity: 1;
    }
}