#app {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#portal {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 9999;
    width: 500px;
    min-height: 500px;

    align-items: end;
    justify-items: end;
    pointer-events: none !important;
}

.fade {
    animation: fade 5s;
    pointer-events: none !important;
}

@keyframes fade {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.action:hover {
    cursor: pointer;
}

.text-vertical {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}